---
import Layout from '../layouts/DesignSystemLayout.astro'
import NumberedHeader from '../components/NumberedHeader.astro'
import DisplayButton from '../components/DisplayButton.astro'
import DesktopNavigation from '../components/DesktopNavigation.astro'
---

<Layout title="Design System">
  <h1
    class="text-accent text-base text-theme-accent flex justify-end uppercase font-sans-cond tracking-2"
  >
    Style Guide
  </h1>

  <!-- Colors -->
  <section class="flex flex-col gap-5 mt-10 mb-20">
    <NumberedHeader
      title="Colors"
      number="01"
    />

    <div class="flex flex-col gap-5">
      <h5 class="uppercase font-sans-cond text-base text-theme-accent">Blue</h5>
      <!-- divider -->
      <div class="h-[1px] bg-theme-accent/25 w-full"></div>
      <div class="grid grid-cols-2 gap-4 text-base">
        <div class="flex flex-col gap-2">
          <div
            class="bg-theme-dark border border-theme-accent/25 flex flex-col gap-1 pt-12 pl-5 pb-5 font-serif"
          >
            <p class="text-theme-accent/50 uppercase">#0B0D17</p>
            <p class="uppercase text-theme-white">Blue-900</p>
          </div>
          <div class="flex flex-col gap-1">
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">HSL</span> 230°,
              35%, 7%
            </h5>
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">RGB</span> 11,
              13, 23
            </h5>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div
            class="bg-theme-accent border border-theme-accent/25 flex flex-col gap-1 pt-12 pl-5 pb-5 font-serif"
          >
            <p class="text-theme-dark/60 uppercase">#D0D6F9</p>
            <p class="uppercase text-theme-dark">Blue-100</p>
          </div>
          <div class="flex flex-col gap-1">
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">HSL</span> 231°,
              77%, 90%
            </h5>
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">RGB</span> 208,
              214, 249
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <h5 class="uppercase font-sans-cond text-base text-theme-accent">
        White
      </h5>
      <!-- divider -->
      <div class="h-[1px] bg-theme-accent/25 w-full"></div>
      <div class="grid grid-cols-2 gap-4 text-base">
        <div class="flex flex-col gap-2">
          <div
            class="bg-theme-white border border-white flex flex-col gap-1 pt-12 pl-5 pb-5 font-serif"
          >
            <p class="text-theme-dark/60 uppercase">#FFFFFF</p>
            <p class="uppercase text-theme-dark">White</p>
          </div>
          <div class="flex flex-col gap-1">
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">HSL</span> 0°,
              0%, 100%
            </h5>
            <h5 class="uppercase text-theme-accent">
              <span class="text-theme-accent/50 font-medium pr-16">RGB</span> 255,
              255, 255
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-5 mb-20">
    <NumberedHeader
      title="Typography"
      number="02"
    />
    <div class="grid xl:grid-cols-2 gap-5">
      <article class="flex flex-col gap-20">
        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 1 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              114px - 171.9% Line Height (Normal) 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-3xl font-serif uppercase">Earth</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 2 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              100px - 114.6% Line Height (Normal) - 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-2xl font-serif uppercase">Venus</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 3 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              56px - 64.2% Line Height (Normal) - 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-xl font-serif uppercase">JUPITER & SATURN</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 4- Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              32px - 37.5% Line Height (Normal) - 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-lg font-serif uppercase">URANUS, NEPTUNE & PLUTO</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 5 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              28px - 33.3% Line Height (Normal) - 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-md font-serif uppercase">
            HAUMEA, SEDNA, ERIS, & CERES
          </h2>
        </div>
      </article>

      <article class="flex flex-col gap-20">
        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 6 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              28px - 32.1% Line Height (Normal) - 0px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-base font-serif uppercase">384,400 km</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 7 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              14px - 16.8% Line Height (Normal) - 2px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-sm font-serif uppercase">AVG. DISTANCE</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 8 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              16px - 19.2% Line Height (Normal) - 2px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <h2 class="text-2xs font-serif uppercase">EUROPA</h2>
        </div>

        <div class="flex flex-col gap-5">
          <div class="font-sans-cond text-base">
            <h5 class="text-theme-accent">Text Preset 8 - Bellefair Regular</h5>
            <h5 class="text-theme-accent/50">
              16px - 19.2% Line Height (Normal) - 2px Letter Spacing
            </h5>
          </div>
          <!-- divider -->
          <div class="h-[1px] bg-theme-accent/25 w-full"></div>
          <p class="text-2xs">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
            hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque,
            aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula
            sollicitudin laoreet viverra, tortor libero sodales leo, eget
            blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse
            potenti.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi
            neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
            ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget
            blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse
            potenti.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi
            neque, aliquet vel, dapibus id, mattis vel, nisi.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section class="flex flex-col gap-5 mb-20">
    <NumberedHeader
      title="Interactive Elements"
      number="03"
    />

    <div class="flex flex-col gap-5">
      <h5 class="uppercase font-sans-cond text-base text-theme-accent">
        Display Button
      </h5>
      <!-- divider -->
      <div class="h-[1px] bg-theme-accent/25 w-full"></div>

      <h5 class="uppercase font-sans-cond text-base text-theme-accent">
        Large
      </h5>
      <DisplayButton
        title="Explore"
        href="#"
        size="large"
      />

      <h5 class="uppercase font-sans-cond text-base text-theme-accent">
        Small
      </h5>
      <DisplayButton
        title="Explore"
        href="#"
        size="small"
      />
    </div>

    <h5 class="uppercase font-sans-cond text-base text-theme-accent">
      Desktop and Tablet Navigation
    </h5>

    <div class="h-[1px] bg-theme-accent/25 w-full"></div>

    <h5 class="uppercase font-sans-cond text-base text-theme-accent">
      Desktop and Tablet Navigation Static Example
    </h5>

    <nav class="flex gap-5">
      <a
        class="uppercase relative font-sans-cond text-base text-theme-white after:content-[''] after:absolute after:-bottom-3 after:bg-theme-accent/25 after:w-full after:h-[3px] after:left-0 after:opacity-0 after:transition-all after:duration-300 hover:after:opacity-100"
        href="#"
        >Idle</a
      >
      <a
        id="hovered"
        class="uppercase relative font-sans-cond text-base text-theme-white after:content-[''] after:absolute after:-bottom-3 after:bg-theme-accent/25 after:w-full after:h-[3px] after:left-0 after:opacity-100 after:transition-all after:duration-300 hover:after:opacity-100"
        href="#"
        >Hover</a
      >
      <a
        id="active"
        class="uppercase relative font-sans-cond text-base text-theme-white after:content-[''] after:absolute after:-bottom-3 after:bg-theme-white after:w-full after:h-[3px] after:left-0 after:opacity-100 after:transition-all after:duration-300 hover:after:opacity-100 after:focus:opacity-100 after:focus:bg-theme-white"
        href="#"
        >Active</a
      >
    </nav>

    <h5 class="uppercase mt-5 font-sans-cond text-base text-theme-accent">
      Desktop and Tablet Navigation Interactive Example
    </h5>

    <DesktopNavigation
      links={[
        { title: 'Idle', href: '#' },
        { title: 'Hover', href: '#' },
        { title: 'Active', href: '#' },
      ]}
    />
  </section>
</Layout>
