---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Design System">
  <h1
    class="text-accent text-base text-theme-accent flex justify-end uppercase font-sans-cond tracking-2"
  >
    Style Guide
  </h1>

  <!-- Colors -->
  <section>
    <h2 class="text-md uppercase font-sans-cond tracking-2 flex gap-6">
      <span class="text-theme-accent/25 font-medium">01</span>
      Colors
    </h2>

    <!-- <div class="flex flex-col gap-2 py-5">
      <div class="flex gap-2">
        <div class="w-10 h-10 bg-theme-dark"></div>
        <div class="w-10 h-10 bg-theme-accent"></div>
        <div class="w-10 h-10 bg-theme-white"></div>
      </div>
    </div> -->
  </section>
</Layout>
