---
interface Props {
  links: {
    title: string
    href: string
    number: string
  }[]
}

const { links } = Astro.props
---

<nav class="flex gap-5 justify-between items-center py-10 relative">
  <div class="xl:pl-20 pl-5 relative">
    <a href="/">
      <img
        src="/assets/shared/logo.svg"
        alt="Space Tourism Logo"
      />
    </a>
  </div>
  <div class="hidden xl:block absolute h-[2px] w-[35rem] right-[55rem] z-10 bg-theme-accent/25"></div>
  <ul
    class="flex gap-10 py-8 xl:pr-20 xl:bg-theme-accent/10 xl:pl-[24rem] xl:backdrop-blur-sm pr-5"
  >
    {
      links.map((link) => (
        <li>
          <a
            class="uppercase relative font-sans-cond text-base text-theme-white/80 after:content-[''] after:absolute after:-bottom-3 after:bg-theme-accent/25 after:w-full after:h-[3px] after:left-0 after:opacity-0 after:transition-all after:duration-300 hover:after:opacity-100 after:focus:opacity-100 after:focus:bg-theme-white"
            href={link.href}
          >
            <span class="font-medium pr-1">{link.number}</span> {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
