---
interface Props {
  title: string
  number: string
}

const { title, number } = Astro.props
---

<h2 class="text-md uppercase font-sans-cond tracking-2 flex gap-6">
  <span class="text-theme-accent/25 font-bold">{number}</span>
  {title}
</h2>
