---
import '@fontsource/bellefair'
import '@fontsource/barlow'
import '@fontsource/barlow-condensed'
import '@fontsource/barlow-condensed/400.css'
import '@fontsource/barlow-condensed/500.css'
import '@fontsource/barlow-condensed/600.css'
import '@fontsource/barlow-condensed/700.css'
import DesktopNavigation from '../components/DesktopNavigation.astro'
import MobileNavigation from '../components/MobileNavigation.astro'

interface Props {
  title: string
  backgroundImage: 'home' | 'destination' | 'crew' | 'technology'
}

const { title, backgroundImage } = Astro.props

const links = [
  {
    title: 'Home',
    href: '/',
    number: '00',
  },
  {
    title: 'Destination',
    href: '/destination',
    number: '01',
  },
  {
    title: 'Crew',
    href: '/crew',
    number: '02',
  },
  {
    title: 'Technology',
    href: '/technology',
    number: '03',
  },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class="bg-theme-dark text-theme-white relative">
    {backgroundImage === 'home' && (
      <div
        class="absolute top-0 left-0 w-screen h-screen bg-cover bg-center bg-no-repeat -z-10 hidden md:block"
        style="background-image: url(/assets/home/background-home-desktop.jpg)"
      >
      </div>
      <div
        class="absolute top-0 left-0 w-screen h-screen bg-cover bg-center bg-no-repeat -z-10 block md:hidden"
        style="background-image: url(/assets/home/background-home-mobile.jpg)"
      >
      </div>
    )}
    <DesktopNavigation links={links} />
    <main class="py-4 px-8 lg:px-16">
      <slot />
    </main>
  </body>
</html>
